<template>
<div>1234</div>
</template>

<script>
    export default {
        name: "Message"
    }
</script>

<style scoped>
/* html {
   width: 1000px;
   height: 800px;
   background-color: cadetblue;
 }*/
</style>
