<template>
  <div class="alert alert-dark">
    <div class="main">
      <div class="questionWindow">
        <div class="questions" v-for="(question, index) in quiz.questions">
          <div v-show="index === questionIndex">
            <hr>
            <div class="one"><h1>{{question.text}}</h1></div>
            <hr>
            <div class="container">
              <div class="btn from-middle" v-for="response in question.responses" :class="response.class">
                <div ref="question" class="btn-inside"
                     @click.once="answer(response.correct)">
                  <span> {{response.text}} </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import shuffle from '../assets/utils.js';

  export default {
    components: {
      shuffle
    },
    data() {
      var i = 0;
      let userResponses = [];
      let quiz = {
        title: 'Угадай слова  ',
        arrayOfQuestions: [],
        questions: [
          {
            id: 0,
            text: "Что такое 'Бодишейминг'?",
            responses: [
              {text: 'Критика внешности', correct: true, class: 'important'},
              {text: 'Направление в фитнесе'},
              {text: 'Поддержание тела в тонусе'},
              {text: 'Одна из разновидностей нижнего белья'},
            ]
          }, {
            id: 1,
            text: "Что такое 'Бинджвотчинг'?",
            responses: [
              {text: 'Популярная настольная игра'},
              {text: 'Серия наручных умных часов'},
              {text: 'Запойный просмотр сериала', correct: true, class: 'important'},
              {text: 'Процесс обмена студентами из разных стран',},
            ]
          }, {
            id: 3,
            text: "Что такое 'Краудфандинг'?",
            responses: [
              {text: 'Сбор денег в Интернете', correct: true, class: 'important'},
              {text: 'Название марки шоколада'},
              {text: 'Аренда машины'},
              {text: 'Быстрое строительство зданий'},
            ]
          }, {
            id: 4,
            text: "Что такое 'Фуди'?",
            responses: [
              {text: 'Название рыбы'},
              {text: 'Тип повседненой одежды'},
              {text: 'Гурман', correct: true, class: 'important'},
              {text: 'Название горы в Японии'},
            ]
          }, {
            id: 5,
            text: "Что такое 'Фотобомбинг'?",
            responses: [
              {text: 'Большая серия фотографии'},
              {text: 'Случайное попадание в кадр лишнего', correct: true, class: 'important'},
              {text: 'Процесс фотографирования бомб'},
              {text: 'Испытывать недовольство фотографией'},
            ]
          }, {
            id: 6,
            text: "Что такое 'Виндпруф'?",
            responses: [
              {text: 'Горькая правда'},
              {text: 'Ключ активации Windows'},
              {text: 'Водный вид спорта'},
              {text: 'Ветронепродуваемая одежда', correct: true, class: 'important'},
            ]
          }, {
            id: 7,
            text: "Что такое 'Краш'?",
            responses: [
              {text: 'Падение со стула'},
              {text: 'Название игры на денди'},
              {text: 'Человек, который нравится', correct: true, class: 'important'},
              {text: 'Испытание на прочность'},
            ]
          }, {
            id: 8,
            text: "Что такое 'Пинролл'?",
            responses: [
              {text: 'Подвернуть/заузить джинсы', correct: true, class: 'important'},
              {text: 'Вид запечённых роллов'},
              {text: 'Спортивный снаряд в теннисе'},
              {text: 'Закрепить запись в социальных сетях'},
            ]
          }, {
            id: 9,
            text: "Что такое 'Дауншифтинг'?",
            responses: [
              {text: 'Зажим клавиши shift в игре'},
              {text: 'Вид nail-дизайна'},
              {text: 'Езда на низкой скорости'},
              {text: 'Жить ради себя', correct: true, class: 'important'},
            ]
          }, {
            id: 10,
            text: "Что такое 'Бокс-офис'?",
            responses: [
              {text: 'Ланч-бокс'},
              {text: 'Выручка от продажи билетов', correct: true, class: 'important'},
              {text: 'Маленький офис квадратной формы'},
              {text: 'Почтовое отделение для мелких посылок'},
            ]
          }, {
            id: 11,
            text: "Что такое 'Аутсорсинг'?",
            responses: [
              {text: 'Вид поиска информации в документах'},
              {text: 'Заказ вещей в Интернете'},
              {
                text: 'Выполнение операций сторонней организацией, специализирующейся на этом',
                correct: true, class: 'important'
              },
              {text: 'Начальная настройка смартфона'},
            ]
          }, {
            id: 12,
            text: "Что такое 'Ньюфаг'?",
            responses: [
              {text: 'Популярный вид гироскутера'},
              {text: 'Новая аватарка в социальных сетях'},
              {text: 'Название сыра в роллах'},
              {text: 'Интернетный новобранец', correct: true, class: 'important'},
            ]
          }, {
            id: 13,
            text: "Что такое 'Дисклеймер'?",
            responses: [
              {text: 'Письменный отказ от ответственности', correct: true, class: 'important'},
              {text: 'Входной билет в Диснейленд'},
              {text: 'Вид вируса в социальных сетях'},
              {text: 'Недовольный всем человек'},
            ]
          }, {
            id: 14,
            text: "Что такое 'Выходной лук'?",
            responses: [
              {text: 'Ритуальное оружие на праздничные мероприятия'},
              {text: 'Внешний вид на мероприятия', correct: true, class: 'important'},
              {text: 'Работа на даче в выходные у молодёжи'},
              {text: 'Просмотр фильмов в выходные'},
            ]
          }, {
            id: 15,
            text: "Что такое 'Руфер'?",
            responses: [
              {text: 'Шоколадка от Рафаэлло'},
              {text: 'Человек, постоянно играющий в компьютерные игры'},
              {text: 'Человек, который лазает по крышам', correct: true, class: 'important'},
              {text: 'Человек, занимающийся подвидом рэпа'},
            ]
          }, {
            id: 16,
            text: "Что такое 'Спитч'?",
            responses: [
              {text: 'Боль дёсен от курения сигарет'},
              {text: 'Краткая приветственная речь', correct: true, class: 'important'},
              {text: 'Герой детского мультфильма'},
              {text: 'Популярное приложение обработки фотографий'},
            ]
          }, {
            id: 17,
            text: "Что такое 'Факап'?",
            responses: [
              {text: 'Вид макияжа'},
              {text: 'Маленькая сумка'},
              {text: 'Вид маленькой машины'},
              {text: 'Неудача и провал', correct: true, class: 'important'},
            ]
          }, {
            id: 18,
            text: "Что такое 'Рофл'?",
            responses: [
              {text: 'Смеяться над чем-то', correct: true, class: 'important'},
              {text: 'Российская объединенная футбольная лига'},
              {text: 'Вид сэндвича'},
              {text: 'Школьный проездной'},
            ]
          }, {
            id: 19,
            text: "Что такое 'Флуд'?",
            responses: [
              {text: 'Безалкогольный сладкий напиток'},
              {text: 'Разговор не по теме', correct: true, class: 'important'},
              {text: 'Электрический самокат'},
              {text: 'Необязательный урок в школе'},
            ]
          }, {
            id: 20,
            text: "Что такое 'Фриган'?",
            responses: [
              {text: 'Свободное ношение оружия'},
              {text: 'Свободный от отношений парень'},
              {text: 'Человек, питающийся на помойках', correct: true, class: 'important'},
              {text: 'Человек, который питается только мясом'},
            ]
          }
        ]
      };

      return {
        quiz: quiz,
        questionIndex: 0,
        userResponses: userResponses,
        i: i
      }
    },
    methods: {
      answer: function (correct) {
        var arrAnswer = document.getElementsByClassName('important');
        this.userResponses.push(correct);

        [].forEach.call(arrAnswer, function (element) {
          element.style.animationPlayState = 'running';

          setTimeout(() => {
            element.style.animationPlayState = 'paused';
          }, 1000);
        });


        if (this.questionIndex >= 8) {
          setTimeout(() => {
            this.$emit('resultScreen');
            this.$emit('resultScore', this.userResponses);
          }, 1500);

        }

        setTimeout(() => {
          this.questionIndex++;
        }, 1500);
      },
    },
    created: function () {
      shuffle(this.quiz.questions);
    }
  }
</script>

<style scoped>

  .important {
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-play-state: paused;
    z-index: 11111;
  }

  @keyframes slidein {
    from {
      box-shadow: none;
    }
    to {
      box-shadow: inset 0px 0px 0px 10px rgb(0, 189, 98);
    }
  }

  .btn-inside {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1.3rem 0;
  }

  .btn-inside span {
    width: 100%;
    height: 100%;
    font-size: 1.03em;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .alert {
    /*max-width: 800px;*/
    width: 100%;
    min-height: 100%;

    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
    margin: 0 auto;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #79aefc 0%, #d0aafc 100%);
  }

  h2 {
    color: white;
    text-align: center;
  }

  hr {
    text-align: left;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    animation: widthExpand 9s infinite;
  }

  @keyframes widthExpand {
    0% {
      transform: scaleX(0);
    }

    50% {
      transform: scaleX(1);

    }

    100% {
      transform: scaleX(0);
    }
  }

  img {
    max-width: 520px;
    max-height: 210px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .questionWindow {
    border-radius: 7px;
    padding: 12px;
    color: white;
  }

  .container {
    padding: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  a:visited {
    background-color: darkblue !important;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.5rem;
    color: #624e70;
    font-family: 'Neucha', cursive;
    text-transform: uppercase;
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    z-index: 1111;
    width: 50%;
    text-align: center;
    white-space: inherit;

  }

  .btn:before, .btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
  }

  .btn:hover {
    color: #6e5a7d;
    transition-delay: .2s;
    border-radius: 0 !important;
  }

  .btn:hover:before {
    transition-delay: 0s;
  }

  .btn:hover:after {
    background: white;
  //transition-delay: .2s;
  }

  .from-middle:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid white;
    border-left: 0;
    border-right: 0;
  }

  .from-middle:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: white;
    opacity: 0.3;
  }

  .from-middle:hover:before {
    left: 0;
    width: 100%;
  }

  .from-middle:hover:after {
    top: 0;
    height: 100%;
  }

  .from-middle:active:after {
  //background-color: #bbacb2; transition: all 100ms cubic-bezier(0.77, 0, 0.175, 1);
  }

  .one {
    background: rgba(255, 255, 255, 0.40);
    position: relative;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  .one h1 {
    font-family: 'Neucha', cursive;
    position: relative;
    color: #624e70;
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    padding: 25px 65px;
    margin: 0;
    line-height: 1;
    transition: all 0.3s ease-in;
  }

  .one h1:before, .one h1:after {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    border-left: 2px solid;
    border-right: 2px solid;
    background: repeating-linear-gradient(180deg, transparent, transparent 2px, #6e5a7d 2px, #6e5a7d 4px);
  }

  .one h1:before {
    left: 0;
  }

  .one h1:after {
    right: 0;
  }

  @media (max-device-width: 768px) {
    /* or 301 if you want really the same as previously.  */

    .questionWindow {
      padding: 0;
    }
    .alert {
      max-height: 100%;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .container {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      min-height: 100%;
    }

    .btn {
      width: 100%;
    }

    .btn:after, .btn:before {
      display: none;
    }

    .btn-inside {
      height: auto;
      width: 100%;
      border: 1px dashed #d0d0d0;

    /*  padding: 1rem 0.5rem;*/
    }

    .btn-inside:active {
      background-color: #aba8eb;
      transition: all 0.4ms ease-in;
    }

  /*  .btn-inside:active {
      background-color: #cdcdcd;
      transition: all 0.3s ease-in;
    }*/

    .btn-inside span {
      font-size: 4.5rem;
      padding: 20px 10px;
    }

    .btn-inside:hover span {
      border: none;
    }

    .one {
      height: auto;
      padding: 20px 0;
    }

    .one h1 {
      font-size: 8em;
    }
  }


</style>
