<template>
  <div class="alert alert-dark">
    <div class="main">
      <div class="header">
        <h3>Похоже, что вы закончили.</h3>
        <hr>
      </div>
      <button class="btn-block" id="btn" @click="resultComputed">Узнать результат?</button>
      <div class="picture">
        <img v-bind:src=image
        />
        <button class="wallpost" @click="wallPost">Опубликовать результаты на стену</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    value: 0,
    data() {
      return {
        image: ""
      }
    },
    name: "resultScreen",
    props: {
      resultScreen: Array
    },
    methods: {
      resultComputed: function () {
        this.value = this.resultScreen.filter(function (val) {
          return val
        }).length;
        document.getElementById('btn').style.display = 'none';
        switch (this.value) {
          case this.value <= 5:
            this.image = "/dist/half-win-img.png";
            break;
          case this.value <= 8:
            this.image = "/dist/half-win-img.png";
            break;
          default:
            this.image = "/dist/half-win-img.png";
        }

        setTimeout(()=> {
          document.querySelector('.wallpost').classList.add('active');
          document.querySelector('.picture').classList.add('active');
        }, 4000)
      },
      wallPost:() => {
        VK.api("photos.getWallUploadServer", {
        }, function (data) {
          if (data.response) {
            $.ajax({
              type: "POST",
              data: {url: data.response.upload_url, image: this.image},
              url: "/upload.php"
            }).done(
              function (json) {
                console.log("It's work");
                var paramsForSavePhoto = $.parseJSON(json);
                VK.api("photos.saveWallPhoto", {
                  server:paramsForSavePhoto.server,
                  photo:paramsForSavePhoto.photo,
                  hash:paramsForSavePhoto.hash
                }, function (wallJson) {
                  VK.api("wall.post", {
                    message:"Уровень логического мышления проверен с помощью приложения: " + appUrl,
                    attachments:wallJson.response['0'].id
                  });
                });
              });
          }
        });
      }
    },
  }

</script>

<style scoped>
  .alert {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cornflowerblue;
    background-image: url("/dist/trianglify.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 600px;
    position: relative;
  }

  h3 {
    font-size: 40px;
    text-shadow: 1px 1px 2px #06066e;
    color: #ffffff;
  }

  .header {
    text-align: center;
    margin-bottom: 300px;
  }

  .btn-block {
    box-shadow: 5px 5px 5px grey;
    z-index: 12;
    position: absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top: 40%;
    width: 40%;
    padding:1rem 2rem;
    white-space: normal;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #9638a2;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .btn:hover {
    background-color: white;
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));

  }

  .picture {
    text-align: center;
    top: 0;
    left: 0;
    position: absolute;
    width: 800px;
    height: 600px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .picture::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
  }

  img {
    max-width: 800px;
    max-height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  @media (max-device-width: 768px) {
    h3 {
      font-size: 6rem;
    }

    .picture {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .wallpost {
    box-shadow: 5px 5px 5px grey;
    z-index: 12;
    position: absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top: 40%;
    width: 40%;
    padding:1rem 2rem;
    white-space: normal;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #9638a2;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateY(700px);
    transition: all 0.3s ease-in;
  }

  .wallpost.active {
    transform: translateY(0);
    transition: all 1s ease-in;
  }

  .picture.active::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.3);
    pointer-events: auto;
    transition: 0.3s ease-in all;
  }
</style>
