<template>

  <div class="alert alert-secondary">
    <div class="start">
      <button class="btn btn-block" @click="$emit('onStart')">Начинаем?</button>
    </div>
    <div class="one"><h1>Разбираетесь ли вы в новомодных словах?</h1></div>
    <p>Приложение носит развлекательный характер. Хэв фан.</p>
  </div>
</template>

<script>
  export default {
    name: "StartScreen",
    methods: {}
  }
</script>

<style scoped>
  .alert {
    text-align: center;
   /* max-width: 800px;
    width: 100%;*/
    /*background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);*/
    max-height: 600px;
    margin: 0 auto;
    color: white;
    position: relative;
    animation: changeBackground 10s infinite;
    box-sizing: border-box;
  }

  /*@media (max-width: 768px) {
    .alert {
      max-width: 100%;
      width: 100%;
    }
  }*/

  .start {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1111;
  }

  p {
    margin-top: 60%;
  }

  .btn {
    width: 100%;
    height: 100%;
    white-space: normal;
    text-align: center;
    margin: 0 auto;
    border-radius: 0;
    border: 2px solid white;
    font-size: 3rem;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    animation: transparentAnim 5s infinite;
    font-family: 'Neucha', cursive;
    box-sizing: border-box;
  }

  @keyframes changeBackground {
    0% {

      background-color: #8EC5FC;
    //background-image: linear-gradient(62deg, #bfc9fc 0%, #E0C3FC 100%);
    }

    50% {
      background-color: #fc96b3;
    // background-image: linear-gradient(62deg, #fc7d47 0%, #E0C3FC 100%);
    }

    100% {
      background-color: #8EC5FC;
    // background-image: linear-gradient(62deg, #bfc9fc 0%, #E0C3FC 100%);
    }
  }

  @keyframes transparentAnim {
    0% {
      color: rgba(98, 78, 112, 1);
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(-2deg);
    }

    50% {
      color: rgba(98, 78, 112, 0.4);
      transform: rotate(0deg);
    }

    75% {
      transform: rotate(2deg);
    }

    100% {
      color: rgba(98, 78, 112, 1);
      transform: rotate(0deg);
    }
  }

  h3 {
    margin-bottom: 20px;
  }

  .one {
    background: rgba(255, 255, 255, 0.40);
    padding: 50px 20px;
    height: auto;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    z-index: 11;
    box-sizing: border-box;
  }

  .one h1 {
    font-family: 'Neucha', cursive;
    position: relative;
    color: #624e70;
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    padding: 25px 65px;
    margin: 0;
    line-height: 1;
    z-index: 111;
  }

  .one h1:before, .one h1:after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 111;
    width: 30px;
    height: 100%;
    border-left: 2px solid;
    border-right: 2px solid;
    background: repeating-linear-gradient(180deg, transparent, transparent 2px, #6e5a7d 2px, #6e5a7d 4px);
  }

  .one h1:before {
    left: 0;
  }

  .one h1:after {
    right: 0;
  }

  @media (max-device-width: 768px) {
   .alert {
     max-height: 100%;
     height: 100%;
     min-height: 100vh;
   }

    .btn {
      font-size: 8rem;
    }

    p {
      display: none;
    }

    .one h1 {
      font-size: 7rem;
    }
  }
</style>
