<template>
  <div id='app' class="main-container">


    <start-screen
      v-if="state === 'start'" @onStart="onStart"
    >
    </start-screen>
    <questions
      v-else-if="state === 'questions'" @resultScreen="resultScreen" @resultScore="rewriteScore"
    ></questions>
    <result-screen v-else-if="state === 'resultScreen'" :resultScreen="this.resultScore"

    >

    </result-screen>
    <div v-else>Unknown state</div>

  </div>
</template>

<script>

  export default {
    data() {
      return {
        state: 'start',
        resultScore: [1234],
        resultQuestion: []
      }
    },
    methods: {
      onStart() {
        this.state = 'questions';
      },
      resultScreen() {
        this.state = 'resultScreen';
      },
      rewriteScore(value, questionList) {
        this.resultScore = value;
        this.resultQuestion = questionList;
      }
    }
  }
</script>

<style>

  body {
    background-image: url("../dist/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
  }

  .main-container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    height: 600px;
  }

  @media (max-device-width: 768px) {
    /* or 301 if you want really the same as previously.  */
    .main-container {
      max-width: 100%;
      height: 100%;
      min-height: 100vh;
    }
  }

</style>
